<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a Mercado Liebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5498c91e1f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-top">
                <div class="main-header-logo">
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" class="img-logo"></a>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Buscar productos, marcas" id="buscador">
                    <button id="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <p class="titulo-header">
                <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
            </p>
            
            <nav class="menu-header">
                <ul class="nav-izquierdo">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-derecho">
                    <li><a href="/register.html">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="burguer">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
            <section class="section-banner">
                <img src="images/img-home-banner.jpg" class="img-banner">
            </section>
        <main>
            <section class="main-section-one">
                <h3 class="titulos">Basado en tu última visita</h3>
                <article class="card">
                    <img class="img_prod" src="images/img-cafetera-moulinex.jpg" alt="caf" >
                    <nav class="card-bottom">
                        <div id="camion">
                            <i class="fa-solid fa-truck" ></i>
                        </div>
                        <div class="infocard">
                            <p class="precio">$6670</p>
                            <div class="descuento">40% off</div>
                        </div>
                        <h4 class="descripcion">Cafetera Moulinex</h4>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="images/img-macbook-pro-2019.jpg" alt="caf" >
                    <nav class="card-bottom">
                        <div id="camion">
                            <i class="fa-solid fa-truck" ></i>
                        </div>
                        <div class="infocard">
                            <p class="precio">$6670</p>
                            <div class="descuento">40% off</div>
                        </div>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </nav>
                </article>
                <article class="card">
                    <img class="img_prod" src="images/img-samsung-galaxy-s10.jpg" alt="caf" >
                    <nav class="card-bottom">
                        <div id="camion">
                            <i class="fa-solid fa-truck" ></i>
                        </div>
                        <div class="infocard">
                            <p class="precio">$6670</p>
                            <div class="descuento">40% off</div>
                        </div>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </nav>
                </article>
                <article class="card">
                    <img class="img_prod" src="images/img-tv-samsung-smart.jpg" alt="caf" >
                    <nav class="card-bottom">
                        <div id="camion">
                            <i class="fa-solid fa-truck" ></i>
                        </div>
                        <div class="infocard">
                            <p class="precio">$6670</p>
                            <div class="descuento">40% off</div>
                        </div>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </nav>
                </article>
                <h3 class="titulos">Ofertas</h3>
                <article class="card">
                    <img class="img_prod" src="images/img-cafetera-moulinex.jpg" alt="caf" >
                    <nav class="card-bottom">
                        <div id="camion">
                            <i class="fa-solid fa-truck" ></i>
                        </div>
                        <div class="infocard">
                            <p class="precio">$6670</p>
                            <div class="descuento">40% off</div>
                        </div>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </nav>
                </article>
                <article class="card">
                    <img class="img_prod" src="images/img-macbook-pro-2019.jpg" alt="caf" >
                    <nav class="card-bottom">
                        <div id="camion">
                            <i class="fa-solid fa-truck" ></i>
                        </div>
                        <div class="infocard">
                            <p class="precio">$6670</p>
                            <div class="descuento">40% off</div>
                        </div>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </nav>
                </article>
                <article class="card">
                    <img class="img_prod" src="images/img-samsung-galaxy-s10.jpg" alt="caf" >
                    <nav class="card-bottom">
                        <div id="camion">
                            <i class="fa-solid fa-truck" ></i>
                        </div>
                        <div class="infocard">
                            <p class="precio">$6670</p>
                            <div class="descuento">40% off</div>
                        </div>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </nav>
                </article>
                <article class="card">
                    <img class="img_prod" src="images/img-tv-samsung-smart.jpg" alt="caf" >
                    <nav class="card-bottom">
                        <div id="camion">
                            <i class="fa-solid fa-truck" ></i>
                        </div>
                        <div class="infocard">
                            <p class="precio">$6670</p>
                            <div class="descuento">40% off</div>
                        </div>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </nav>
                </article>
            </section>
        </main>
        <footer class="main-footer">
            <section class="info-footer">
                <div class="pes">
                    <i class="fa-solid fa-credit-card"></i>
                    <h4 class="footer-titulo">Pagá con tarjeta o en efectivo</h4>
                    <p class="footer-descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. <br>¡Y siempre es seguro!</p>
                </div>
                <div class="pes">
                    <i class="fa-solid fa-gift"></i>
                    <h4 class="footer-titulo">Envío gratis desde $2.500</h4>
                    <p class="footer-descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. <br>Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="pes">
                    <i class="fa-solid fa-user-shield"></i>
                    <h4 class="footer-titulo">Seguridad, de principio a fin</h4>
                    <p class="footer-descripcion">¿No te gusta? ¡Devolvelo! <br>En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@</p>
                </div>
                <p class="copy-ml">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </body>
</html>
